@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  font-family: Arial, sans serif;
  color: black;
  line-height: 1.7;
  box-sizing: border-box;
  font-size: 1.6rem; }

input {
  font-family: inherit;
  color: inherit; }

ul,
ol {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

:root {
  --color-soft-red: hsl(7, 99%, 70%);
  --color-bellow: hsl(51, 100%, 49%);
  --color-dark-desaturated-cyan: #25564b;
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-dark-moderate-cyan: hsl(168, 52%, 68%);
  /* Neutral */
  --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%); }

.grid__item--3, .grid__item--4 {
  background-size: cover;
  background-position: center;
  height: 58rem; }

.grid__item--6, .grid__item--7 {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  height: 58rem; }

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem; }

header {
  text-align: center; }

.title--primary {
  font-family: "Fraunces", serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  color: var(--color-white); }
  @media only screen and (max-width: 400px) {
    .title--primary {
      font-size: 4.5rem;
      line-height: 1.5; } }

.title--secondary {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  color: var(--color-very-dark-desaturated-blue);
  line-height: 1.2; }

.title--tertiary {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  color: var(--color-dark-desaturated-cyan); }
  .title--tertiary:nth-of-type(2) {
    color: var(--color-dark-blue); }

.title--fourth {
  text-align: center;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 0.6rem;
  color: var(--color-grayish-blue);
  font-weight: 900; }

.text--normal {
  font-size: 1.8rem;
  color: var(--color-very-dark-grayish-blue); }

.text--blue {
  color: var(--color-dark-blue); }

.text--green {
  color: var(--color-dark-desaturated-cyan); }

.text--sm {
  font-size: 1.6rem;
  color: var(--color-grayish-blue); }

.content-box--center {
  text-align: center;
  max-width: 40rem;
  margin: 5rem auto;
  padding: 0 2rem; }

.margin-bottom--bigger {
  margin-bottom: 6rem; }

.margin-bottom--big {
  margin-bottom: 4rem; }

.margin-bottom--medium {
  margin-bottom: 3rem; }

.margin-bottom--sm {
  margin-bottom: 1.8rem; }

.margin-top--big {
  margin-top: 4rem; }

.margin-top--medium {
  margin-top: 3rem; }

.grid {
  display: grid;
  width: 100vw;
  max-width: 1440px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh repeat(3, 58rem) minmax(75vh, min-content) 40rem 30rem; }
  @media only screen and (max-width: 600px) {
    .grid {
      grid-template-rows: 80vh repeat(6, 58rem) minmax(75vh, min-content) min-content 30rem; } }

.grid__item--1 {
  order: 1;
  grid-column: 1/-1; }

.grid__item--2 {
  order: 2;
  grid-column: 1/2; }
  @media only screen and (max-width: 600px) {
    .grid__item--2 {
      order: 3; } }

.grid__item--3 {
  order: 3;
  grid-column: 2/3; }
  @media only screen and (max-width: 600px) {
    .grid__item--3 {
      order: 2; } }

.grid__item--4 {
  order: 4;
  grid-column: 1/2; }

.grid__item--5 {
  order: 5;
  grid-column: 2/3; }

.grid__item--6 {
  order: 6;
  grid-column: 1/2; }

.grid__item--7 {
  order: 7;
  grid-column: 2/3; }

.grid__item--8 {
  order: 8;
  grid-column: 1/-1; }

.grid__item--9 {
  order: 9;
  grid-column: 1/-1; }

.grid__item--10 {
  order: 10;
  grid-column: 1/-1; }

@media only screen and (max-width: 600px) {
  .grid__item {
    grid-column: 1/-1; } }

.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .header__logo {
    filter: invert(100%) sepia(3%) saturate(487%) hue-rotate(221deg) brightness(118%) contrast(100%); }
  .header__arrow {
    display: inline-block;
    margin-top: 8rem; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem;
  position: relative; }
  .navigation__list {
    display: flex;
    color: var(--color-white);
    width: 55rem;
    justify-content: space-around; }
    @media only screen and (max-width: 900px) {
      .navigation__list {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 3rem;
        flex-direction: column;
        max-width: 40rem;
        background-color: var(--color-white);
        color: var(--color-very-dark-grayish-blue);
        padding: 2rem 0;
        transition: all 0.3s; }
        .navigation__list::before {
          position: absolute;
          top: 0;
          right: -4px;
          transform: translateY(-50%) rotate(45deg);
          content: "";
          display: inline-block;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
          border-left: 25px solid #fff; } }
  @media only screen and (max-width: 900px) {
    .navigation__item:not(:last-child) {
      margin-bottom: 1rem; } }
  .navigation__item:last-child .navigation__link {
    color: #000;
    text-transform: uppercase;
    background-color: var(--color-white);
    font-family: "Fraunces", serif;
    border-radius: 100px;
    font-size: 1.4rem;
    line-height: 2; }
    @media only screen and (max-width: 900px) {
      .navigation__item:last-child .navigation__link {
        background-color: var(--color-bellow); }
        .navigation__item:last-child .navigation__link:not(:last-child) {
          margin-bottom: 2rem; } }
  .navigation__link {
    display: inline-block;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 900px) {
      .navigation__link {
        padding: 1rem 2.5rem; } }
  .navigation__hamburger {
    display: none; }
    @media only screen and (max-width: 900px) {
      .navigation__hamburger {
        z-index: 10;
        display: block;
        position: relative;
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .navigation__hamburger span {
          position: absolute;
          width: 3.5rem;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.6);
          border-radius: 10px; }
          .navigation__hamburger span::after, .navigation__hamburger span::before {
            position: absolute;
            top: -1rem;
            left: 0;
            content: "";
            display: inline-block;
            width: 3.5rem;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 10px; }
          .navigation__hamburger span::after {
            top: 1rem; } }
  .navigation__checkbox {
    display: none; }
    @media only screen and (max-width: 900px) {
      .navigation__checkbox:checked + .navigation__list {
        visibility: visible;
        pointer-events: all;
        opacity: 1; } }

.grid__item--2, .grid__item--5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .grid__item--2 > div, .grid__item--5 > div {
    max-width: 45rem;
    padding: 0 2rem; }

.grid__item--3 {
  background-image: url(../images/desktop/image-transform.jpg); }

.grid__item--4 {
  background-image: url(../images/desktop/image-stand-out.jpg); }

.grid__item--6 {
  background-image: url(../images/desktop/image-graphic-design.jpg); }

.grid__item--7 {
  background-image: url(../images/desktop/image-photography.jpg); }

.testimonials {
  display: grid;
  column-gap: 3rem;
  width: 100%;
  grid-template-columns: repeat(3, minmax(30rem, 1fr));
  padding: 0 4rem;
  justify-content: center;
  text-align: center; }
  .testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0; }
  @media only screen and (max-width: 900px) {
    .testimonials {
      grid-template-columns: minmax(min-content, 50rem);
      row-gap: 6rem; } }

.testimonial__img {
  border-radius: 50%;
  width: 7rem; }

.testimonial__name {
  display: block;
  font-family: "Fraunces", serif;
  color: var(--color-very-dark-desaturated-blue); }

@media only screen and (max-width: 1000px) {
  .testimonial {
    padding: 0 2rem; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  @media only screen and (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); } }
  .gallery__img {
    width: 100%;
    height: 40rem;
    object-fit: cover; }

.btn-text {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0 1rem;
  width: max-content;
  z-index: 1;
  position: relative; }
  .btn-text::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1rem;
    border-radius: 2rem;
    width: 100%;
    z-index: -1;
    left: 0;
    bottom: 1px;
    opacity: 0.3;
    transition: all 0.3s; }
  .btn-text--yellow::after {
    background-color: var(--color-bellow); }
  .btn-text--rose::after {
    background-color: var(--color-soft-red); }
  .btn-text:hover::after {
    opacity: 1; }

.footer {
  background-color: var(--color-dark-moderate-cyan);
  color: var(--color-dark-desaturated-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__logo {
    filter: invert(27%) sepia(33%) saturate(610%) hue-rotate(116deg) brightness(95%) contrast(92%); }
  .footer__nav {
    color: var(--color-dark-desaturated-cyan);
    opacity: 0.4;
    width: 30rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between; }
  .footer__social {
    display: flex;
    justify-content: space-between;
    width: 15rem; }
