:root {
  --color-soft-red: hsl(7, 99%, 70%);
  --color-bellow: hsl(51, 100%, 49%);
  --color-dark-desaturated-cyan: #25564b;
  --color-dark-blue: hsl(198, 62%, 26%);
  --color-dark-moderate-cyan: hsl(168, 52%, 68%);

  /* Neutral */
  --color-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);
}
