@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
}

section{
    padding: 10rem 2rem;
    max-width: 100rem;
    margin: 0 auto;
    background-image: url(./images/bg-pattern-top-desktop.svg);
    height: 100vh;
    background-repeat: no-repeat;
    /* background-position: top; */
}

.top{
    display: flex;
}

.top-left{
    width: 50%;
}

.section-title{
    color: hsl(300, 43%, 22%);
    font-size: 5rem;
    max-width: 50rem;
    margin-bottom: 1rem;

}

.section-text{
    color: hsl(303, 10%, 53%)
}

.top-right{
    margin-left: 4rem;
    padding: 2rem;
}

.rating{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    padding: 1.8rem;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
}

.rating-stars{
    margin-right: 1.5rem;
}

.rt1{
    transform: translateX(-4rem);
}

.rt3{
    transform: translateX(4rem);
}

.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  
}

.card{
    background-color: hsl(300, 43%, 22%);
    padding: 3rem 2rem;
    border-radius: .8rem;
}

.card-top{
    display: flex;
}

.card-img{
    border-radius: 50%;
    width: 5rem;
}

.person-info{
  margin-left: 3rem;
} 

.person-info .name{
    font-weight: 700;
    color:#ffffff;
    margin-bottom: .5rem;
}

.person-info p{
    color: hsl(333, 80%, 67%);
}

.card-bottom p{
    color: #ffffff;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

@media screen and (max-width: 950px) {
    .top{
        flex-direction: column;
    }

    .top-left, .top-right{
        max-width: 60rem;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .rating{
        flex-direction: column;
    }

    .rating-stars{
        margin-bottom: 1rem;
    }

    .rt1{
        transform: translateX(0);
    }
    
    .rt3{
        transform: translateX(0);
    }

    .bottom{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        max-width: 60rem;
        padding: 2rem;
        margin: 0 auto;
    }

}