.container {
  margin: 0 auto;
  max-width: 1100px;

  @media only screen and (max-width: 1100px) {
    padding: 0 2rem;
  }
  padding: 0 2rem;
}

.product {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 50% 50%;

  & > * {
    padding: 0 6rem;
  }

  &__main-img {
    width: 100%;
    border-radius: 2.5rem;
  }

  &__details {
    align-self: center;
  }

  &__price {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
  }

  &__discount {
    background-color: var(--color-primary-pale);
    border-radius: 3px;
  }

  &__actions {
    display: flex;
  }

  &__add {
    flex: 1;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 0.8rem;
    font-weight: 700;
    font-size: 1.4rem;
  }
}

.counter {
  background-color: var(--color-light-grayish-blue);
  margin-right: 1.5rem;
  border-radius: 0.8rem;

  & > * {
    background-color: transparent;
    border: none;
    padding: 1.8rem;
    font-weight: 700;
  }
  &__plus,
  &__minus {
    color: var(--color-primary);
  }
}

.slides {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  & div {
    width: 21%;
    overflow: hidden;
    border-radius: 1rem;

    &:hover {
      border: 2px solid var(--color-primary);
    }

    &:has(.slides__img--active) {
      border: 2px solid var(--color-primary);
    }
  }

  &__img {
    width: 100%;
    display: block;

    &:hover {
      cursor: pointer;
      filter: opacity(0.3);
    }

    &--active {
      filter: opacity(0.3);
    }
  }
}
