:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: rgb(0, 0, 0, 0.75);

  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: #b6bcc8;
  --color-light-grayish-blue: #f7f8fd;

  --color-primary: hsl(26, 100%, 55%);
  --color-primary-pale: hsl(25, 100%, 94%);
}
