.header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(4, minmax(min-content, 35rem)) minmax(
      4rem,
      1fr
    );
  grid-template-rows: 26vh auto;
  min-height: 75vh;

  &__logo{
    z-index: 3;
  }

  &-nav {
    width: 100%;
    grid-column: 2/6;
    height: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;

    @media only screen and (max-width: 900px) {
      position: fixed;
      padding: 4rem;
    }

    &__list {
      display: flex;

      @media only screen and (max-width: 900px) {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        background-color: #000;
        transition: all 0.5s;
      }
    }

    &__link {
      display: inline-block;
      color: var(--color-white);
      padding: 0.5rem 1.5rem;
      font-weight: bold;

      @media only screen and (max-width: 900px) {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 1rem;
        margin-left: 3rem;
        font-family: "Josefin Sans", sans-serif;
      }
    }
  }

  &__checkbox {
    display: none;

    &:checked + .header-nav__list {
      right: 0;
    }

    &:checked ~ .header-nav {
      position: fixed;
      right: 4rem;
    }

    &:checked ~ .header__hamburger span {
      visibility: hidden;

      &::before,
      &::after {
        content: "";
        width: 3rem;
        height: 3px;
        background-color: #fff;
        position: absolute;
        visibility: visible;
        transform-origin: center;
        transition: all 0.5s;
      }

      &::before {
        top: 0;
        transform: rotate(225deg);
      }
      &::after {
        top: 0;
        transform: rotate(-225deg);
      }
    }
  }

  &__hamburger {
    position: relative;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    display: none;
    z-index: 2;

    @media only screen and (max-width: 900px) {
      display: block;
    }

    & span {
      width: 3rem;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before,
      &::after {
        content: "";
        width: 3rem;
        height: 3px;
        background-color: #fff;
        position: absolute;
      }

      &::before {
        top: 1rem;
      }
      &::after {
        top: -1rem;
      }
    }
  }

  &__title {
    grid-column: 2/4;
    grid-row: 2/3;
    border: 3px solid var(--color-white);
    height: min-content;
    padding: 3rem 4rem;
    min-width: 66rem;

    @media only screen and (max-width: 650px) {
      grid-column: 2/6;
      min-width: auto;
      width: 100%;
    }
  }
}

.about {
  position: relative;
  margin: 12rem 0;
  min-height: 40rem;

  @media only screen and (max-width: 850px) {
    width: 100%;
    min-height: auto;
  }

  &__img {
    display: block;
    width: 70%;
    height: 100%;
    object-fit: cover;

    @media only screen and (max-width: 1050px) {
      width: 75%;
    }

    @media only screen and (max-width: 850px) {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 45%;
    align-self: flex-end;
    background-color: var(--color-white);
    padding: 10rem 0 0 10rem;

    @media only screen and (max-width: 1200px) {
      padding: 7rem 0 0 7rem;
    }
    @media only screen and (max-width: 850px) {
      width: 100%;
      position: relative;
      left: 0;
      padding: 6rem 3rem 0 3rem;
    }
    @media only screen and (max-width: 550px) {
      text-align: center;
    }
  }
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  padding: 1rem 3rem;
  letter-spacing: 3px;
  font-size: 1.2rem;
  border: 2px solid var(--color-very-dark-gray);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;

  @media only screen and (max-width: 550px) {
    font-size: 1.4rem;
    padding: 1.5rem 5rem;
  }
}

.products {
  margin-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 52rem 52rem;
  row-gap: 5rem;

  @media only screen and (max-width: 550px) {
    grid-template-rows: auto;
  }

  & .heading__secondary {
    grid-column: 1/4;
    display: grid;
    align-items: center;
    width: auto;
    order: 1;

    @media only screen and (max-width: 550px) {
      grid-column: 1/-1;
      text-align: center;
    }
  }
  & .btn {
    grid-column: 5/6;
    display: grid;
    width: auto;
    margin: auto;
    order: 2;

    @media only screen and (max-width: 550px) {
      order: 3;
      grid-column: 1/-1;
    }
  }
  &__list {
    grid-gap: 4rem;
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 52rem 52rem;
    order: 3;

    @media only screen and (max-width: 1340px) {
      grid-gap: 2rem;
    }

    @media only screen and (max-width: 1150px) {
      grid-gap: 1.5rem;
    }

    @media only screen and (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 64rem 64rem 64rem;
      grid-gap: 4rem;
    }

    @media only screen and (max-width: 550px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 25rem);
      grid-gap: 3rem;
      order: 2;
    }

    @media only screen and (max-width: 350px) {
      grid-template-rows: repeat(8, 20rem);
    }
  }

  &__item {
    position: relative;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media only screen and (max-width: 550px) {
      object-position: top;
    }
  }

  &__caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 4rem;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6)
    );
    @media only screen and (max-width: 1280px) {
      padding: 3rem;
    }
  }
}

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  display: grid;
  grid-template-columns: minmax(4rem, 1fr) repeat(4, minmax(min-content, 35rem)) minmax(
      4rem,
      1fr
    );
  align-content: center;
  row-gap: 2.5rem;
  padding: 4rem 0;

  @media only screen and (max-width: 700px) {
    justify-items: center;
    row-gap: 1rem;
  }

  &__logo {
    grid-column: 2/4;
    order: 1;

    @media only screen and (max-width: 700px) {
      grid-column: 2/6;
      margin-bottom: 2.5rem;
    }
  }

  &-nav {
    grid-column: 2/4;
    display: flex;
    order: 3;

    @media only screen and (max-width: 700px) {
      order: 2;
      margin-bottom: 4rem;
    }

    &__item:not(:last-child) {
      margin-right: 3rem;

      @media only screen and (max-width: 700px) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    &__link {
      display: inline-block;
      color: var(--color-white);
      font-weight: bold;
    }

    @media only screen and (max-width: 700px) {
      grid-column: 2/6;
      flex-direction: column;
      text-align: center;
    }
  }

  &__text {
    grid-column: 4/6;
    text-align: end;
    color: var(--color-dark-gray);
    order: 4;

    @media only screen and (max-width: 700px) {
      grid-column: 2/6;
      text-align: center;
    }
  }
}

.social {
  grid-column: 4/6;
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 700px) {
    order: 3;
  }

  @media only screen and (max-width: 700px) {
    grid-column: 2/6;
    justify-content: center;
  }

  &__item {
    padding: 0 0.8rem;
  }
}
